@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .bg-emerald-sky {
    @apply bg-gradient-to-r from-emerald-400 to-sky-400;
  }

  .bg-violet-sky {
    @apply bg-gradient-to-r from-violet-600 to-sky-500;
  }

  .text-emerald-sky {
    @apply bg-emerald-sky bg-clip-text text-transparent;
  }

  .text-violet-sky {
    @apply bg-violet-sky bg-clip-text text-transparent;
  }

  .border-emerald-sky {
    @apply bg-emerald-sky bg-clip-border border-transparent;
  }

  .border-violet-sky {
    @apply bg-violet-sky bg-clip-border border-transparent;
  }

  .text-slider {
    @apply whitespace-nowrap text-[12rem] uppercase opacity-5;
  }
  .glow-violet-sky {
    @apply select-none absolute bg-gradient-to-r from-violet-700 to-sky-700 blur-sm bg-clip-text text-transparent bottom-1 left-0 -z-10;
  }
  .button {
    @apply py-2 px-6 rounded-full select-none;
  }
  .button-white {
    @apply border-2 border-slate-100 text-slate-100 button;
  }

  .margin-header {
    @apply mt-10 md:mt-20 lg:mt-32;
  }

  .padding-section {
    @apply py-20 md:py-28 lg:pb-32;
  }
}
